@media screen and (max-width: 576px) {

    /* Global */
    html {
        font-size: 12px;
    }
    .section-gap {
    margin: 70px 0;
}

    .navBar,
    .quickList, .feature {
        flex-direction: column;
    }

    /* Navbar */
    .navLinks {
        display: none;
    }

    /* Quick List */
    .quickList>div {
        width: 100%;
    }

    .quickList-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .quickList-content{
    margin-left: 0px;
    text-align: center;
}

/* Feature section */
.feature {
    gap: 50px;
}
.feature-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.feature-btn {
    margin-top: -60px;
    margin-left: 0;
}
}