/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Global Css */

* {
    margin: 0;
    padding: 0;
}

.header {
    font-size: 16px;
    overflow-x: hidden;
}

img {
    width: 100%;
}

/* container */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Background color */
.section-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

/* Section gap */
.section-gap {
    margin: 130px 0;
}

/* Button */
.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}

/* Section Heading */
.section-heading {
    font-weight: 700;
    color: #131313;
    font-size: 2.8125rem;
}

/* Pragraph text */
.text {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    color: #727272;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
}

/* Card design */
.card {
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.flex {
    display: flex;
}


/* ********************** */

/* NavBar style */
.navBar {
    justify-content: space-between;
    align-items: center;
}

.navItems {
    list-style-type: none;
    gap: 50px;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.navItem a {
    text-decoration: none;
    color: #424242;
}

/* Header style */
.header {
    padding: 50px 0;
    text-align: center;
}

.header-content {
    max-width: 860px;
    text-align: center;
    margin-top: 6.375rem;
    margin-bottom: 3.125rem;
}

.header-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

/* Quick List section design */
.quickList {
    justify-content: space-between;
    align-items: center;
    margin-top: 5.3125rem;
    gap: 50px;
}

.quickList>div {
    width: 50%;
}

.quickList-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quickList-content {
    margin-left: 70px;
}

.quickList-text {
    max-width: 537px;
}

.span1 {
    font-weight: 500;

}

.span2 {
    color: #FF900E;
}

/* Feature section style */
.feature {
    justify-content: space-between;
    align-items: center;
    gap: 8.75rem;
}

.feature-content {
    max-width: 586px;
}
.feature-content h2{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card {
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.feature-card-heading {
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
}

.feature-text {
    margin-bottom: 0;
}

.feature-btn {
    padding: 45px 42px;
    z-index: 10;
    margin-left: -100px;
    margin-top: -180px;
}

.feature-btn-text {
    font-weight: 700;
    font-size: 4.0625rem;
    line-height: 4.375rem;
    color: white;
}